{% extends 'layout.html' %}

{% block main-content %}
{{ super() }}
<section class="container">
    <div class="movie-best">
         <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
         <div class="col-sm-12 change--col">
             <div class="movie-beta__item ">
                <img alt='' src="./../images/movie/movie-sample1.jpg">
                 <span class="best-rate">5.0</span>

                 <ul class="movie-beta__info">
                     <li><span class="best-voted">71 people voted today</span></li>
                     <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                     </li>
                     <li class="last-block">
                         <a href="movie-page-full.hml" class="slide__link">more</a>
                     </li>
                 </ul>
             </div>
             <div class="movie-beta__item second--item">
                 <img alt='' src="./../images/movie/movie-sample2.jpg">
                 <span class="best-rate">5.0</span>

                 <ul class="movie-beta__info">
                     <li><span class="best-voted">71 people voted today</span></li>
                     <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                     </li>
                     <li class="last-block">
                         <a href="movie-page-full.html" class="slide__link">more</a>
                     </li>
                 </ul>
             </div>
             <div class="movie-beta__item third--item">
                 <img alt='' src="./../images/movie/movie-sample3.jpg">
                 <span class="best-rate">5.0</span>

                 <ul class="movie-beta__info">
                     <li><span class="best-voted">71 people voted today</span></li>
                     <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                     </li>
                     <li class="last-block">
                         <a href="movie-page-full.html" class="slide__link">more</a>
                     </li>
                 </ul>
             </div>
             <div class="movie-beta__item hidden-xs">
                 <img alt='' src="./../images/movie/movie-sample4.jpg">
                 <span class="best-rate">5.0</span>

                 <ul class="movie-beta__info">
                     <li><span class="best-voted">71 people voted today</span></li>
                     <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                     </li>
                     <li class="last-block">
                         <a href="movie-page-full.html" class="slide__link">more</a>
                     </li>
                 </ul>
             </div>
             <div class="movie-beta__item hidden-xs hidden-sm">
                 <img alt='' src="./../images/movie/movie-sample5.jpg">
                 <span class="best-rate">5.0</span>

                 <ul class="movie-beta__info">
                     <li><span class="best-voted">71 people voted today</span></li>
                     <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                     </li>
                     <li class="last-block">
                         <a href="movie-page-full.html" class="slide__link">more</a>
                     </li>
                 </ul>
             </div>
             <div class="movie-beta__item hidden-xs hidden-sm">
                 <img alt='' src="./../images/movie/movie-sample6.jpg">
                 <span class="best-rate">5.0</span>

                 <ul class="movie-beta__info">
                     <li><span class="best-voted">71 people voted today</span></li>
                     <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                     </li>
                     <li class="last-block">
                         <a href="movie-page-full.html" class="slide__link">more</a>
                     </li>
                 </ul>
             </div>
         </div>
        <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
    </div>

    <div class="col-sm-12">
        <div class="mega-select-present mega-select-top mega-select--full">
            <div class="mega-select-marker">
                <div class="marker-indecator location">
                    <p class="select-marker"><span>Look for that movie</span> <br>you love</p>
                </div>
            </div>

              <div class="mega-select pull-right">
                  <span class="mega-select__point">Search by</span>
                  <ul class="mega-select__sort">
                      <li class="filter-wrap"><a href="#" class="mega-select__filter filter--active" data-filter='location'>Movie</a></li>
                  </ul>

                  <input name="search-input" type='text' class="select__field">

                  <div class="select__btn">
                    <a href="#" class="btn btn-md btn--danger location">find <span class="hidden-exrtasm">movies</span></a>
                  </div>
              </div>
          </div>
    </div>

    <div class="clearfix"></div>

    <h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-12">
                <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                                <img alt='' src="./../images/movie/movie-time8.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">Gravity (2013)  </a>

                            <p class="movie__time">91 min</p>

                            <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.1</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->

                 <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--left">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="./../images/movie/movie-time1.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">The Hobbit: The Desolation of Smaug (2013)  </a>

                            <p class="movie__time">169 min</p>

                            <p class="movie__option"><a href="#">Adventure</a> | <a href="#">Fantasy</a> | <a href="#">Drama</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->

                 <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--right">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="./../images/movie/movie-time9.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">The Hunger Games: Catching Fire (2013)   </a>

                            <p class="movie__time">146 min</p>

                            <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Sci-Fi</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.9</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->

                 <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--right">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="./../images/movie/movie-time10.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">Thor: The Dark World (2013) </a>

                            <p class="movie__time">112 min</p>

                            <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Fantasy</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->

                 <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="./../images/movie/movie-time11.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">World War Z (2013)  </a>

                            <p class="movie__time">116 min</p>

                            <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Horror</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.1</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->

                 <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--left">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="./../images/movie/movie-time12.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">Prisoners (2013) </a>

                            <p class="movie__time">153 min</p>

                            <p class="movie__option"><a href="#">Crime</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->

                 <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--right">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="./../images/movie/movie-time13.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">This Is the End (2013)   </a>

                            <p class="movie__time">107 min</p>

                            <p class="movie__option"><a href="#">Comedy</a> | <a href="#">Fantasy</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.9</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->

                 <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--right">
                        <div class="movie__images">
                            <a href="movie-page-full.html" class="movie-beta__link">
                            <img alt='' src="./../images/movie/movie-time14.jpg">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='movie-page-full.html' class="movie__title">The Internship (2013)  </a>

                            <p class="movie__time">112 min</p>

                            <p class="movie__option"><a href="#">Comedy</a></p>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>
                 <!-- Movie variant with time -->
            </div>
        </div>
    </div>
</section>

{% endblock %}